<table>
  <thead>
    <tr>
      <th class="col-1">Title</th>
      <th class="col-1">Image</th>
      <th class="col-1">Starttime</th>
      <th class="col-1">Endtime</th>
      <th class="col-1">Userid</th>
      <th class="col-1">category</th>
      <th class="col-2">content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td class="col-1"><%= post.title %></td>
        <td class="col-1"><%= post.image %></td>
        <td class="col-1"><%= post.starttime %></td>
        <td class="col-1"><%= post.endtime %></td>
        <td class="col-1"><%= post.userid %></td>
        <td class="col-1"><%= post.category %></td>
        <td class="col-2"><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Post', new_post_path %>
